@font-face {
  font-family: "Free_Pen";
  src: url("./assets/fonts/Free_Pen.otf") format("otf"),
    url("./assets/fonts/Free_Pen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hamston";
  src: url("./assets/fonts/Hamston.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LOVES";
  src: url("./assets/fonts/LOVES.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
