@tailwind base;
@tailwind components;
@tailwind utilities;

.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.forma-imagen {
  clip-path: polygon(0 0, 36% 0, 100% 100%, 0% 100%);
}

.inria-sans-regular-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  .text-wb-center {
    text-align: -webkit-center;
  }
  .text-wb-center-support {
    -webkit-text-size-adjust: 100%;
  }

  .shadow-academia {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
}
