@tailwind base;
@tailwind components;
@tailwind utilities;

.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='1400'%3E%3Cpath fill='%238F272A' d='M0 0h2000v1400H0z'/%3E%3Cpath fill='%232F0C0D' d='M0 700c85.907 35.492 171.813 70.985 250 60 78.187-10.985 148.654-68.446 234-100 85.346-31.554 185.572-37.201 271-32 85.428 5.201 156.06 21.25 240 49s181.19 67.201 263 87c81.81 19.799 148.18 19.946 228-5s173.092-74.985 261-89c87.908-14.015 170.454 7.992 293 30l-40 700H0Z'/%3E%3C/svg%3E");
}

.intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../src/img/introClub.gif");
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

/* Imagen de fondo Historia */
.fixed-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../src/img/portadas/club11.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

/* animación elementos navbar */
.nav-link {
  position: relative; /* Necesario para posicionar el subrayado */
  display: inline-block;
  text-decoration: none; /* Quitar el subrayado por defecto */
  color: #cda053;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.3s ease-in-out;
  filter: brightness(1.2);
}

.nav-link .underline-img {
  position: absolute;
  top: 1.5rem; /* Alineado al borde inferior del enlace */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%) scaleX(0); /* Inicialmente invisible */
  transform-origin: center; /* Ancla de la animación */
  width: 100%; /* Puede ajustarse según el tamaño deseado */
  height: 1rem; /* Ajusta según el tamaño de tu imagen */
  background: url("/src/img/misc/separador.png") no-repeat center; /* Imagen del subrayado */
  background-size: contain; /* Escala la imagen correctamente */
  transition: transform 0.3s ease-in-out; /* Animación suave */
}

.nav-link:hover .underline-img {
  transform: translateX(-50%) scaleX(1); /* Muestra la imagen al hacer hover */
}

.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.forma-imagen {
  clip-path: polygon(0 0, 36% 0, 100% 100%, 0% 100%);
}

.inria-sans-regular-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  background-color: rgb(34 33 33);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-flow-noWrap {
  flex-flow: nowrap;
}
.aspect-3_4 {
  aspect-ratio: 3/4;
}
.shadow-blog-main {
  box-shadow: rgb(0, 0, 0) 0px 14px 37px -10px;
}

.shadow-blog-sec {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@layer utilities {
  .h-wb-fill {
    height: -webkit-fill-available;
  }
  .h-inherit {
    height: inherit;
  }

  .text-last {
    text-align-last: center;
  }

  .text-wb-center {
    text-align: -webkit-center;
  }
  .text-wb-center-support {
    -webkit-text-size-adjust: 100%;
  }

  .shadow-academia {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
}
@media only screen and (max-height: 680px) and (min-width: 607px) {
  .intro p {
    font-size: 1rem;
  }
  .intro img {
    height: 12rem;
  }
}
